.footer{
    grid-area: footer;
    width: 1500px;
    background: linear-gradient(to bottom, #CECECE 0%, #150F06 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img {
    height: 40px;
}
.redes img{
    height: 20px;
}
.redes{
    margin-right: 10px;
}